@import "./variables.less";
@import "./mixins.less";

 li {
   display: inline-block;
   text-align: left;
   font-size: .8rem;
 }

 .hero img {
      width: 100%;
      max-width: 1459px;
      position: relative;
  }

h1 img {
    width: 34%;
    position: absolute;
    left: 32%;
    top:7%;
  }

  .button1 {
    position: absolute;
    left: 37%;
    top: 11%;
    width: 24%;
    font-size: .7rem;
  }

  main img {
    width: 40%;
   
}
.info {
    display: flex;
    justify-content: space-around;
} 

.info button {
    width: 20%;
    height: 1%;
    align-self: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width: 30%;
    text-align: center;
    padding: 6% 0;
}