@primary-color: #080801;
@banner:#3b3838;
@red:#ee252f;
@yellow:#f8df1f;
@link-color: #050500;
@primary-heading-color: #050500;
@heading-span-color: #ee252f;

@font-heading:30px;
@font-links:18px;
@font-p:16px;


